snippet new "New entry" bA
`!v strftime("%Y-%m-%d")`
	Sto opp         ${1:07:00}
	La meg         x23:30
	Vekt           x89.5 kg
	Vekt (Helene)   xx.x kg
	Vekt (Are)      xx.x kg
	Lengde (Are)    xx.x cm
	Vekt (Sverre)   xx.x kg
	Lengde (Sverre) xx.x cm
	Trening         $2
	Snop            $3
	Notat           $4

endsnippet

snippet add "New entry (old type)" bA
Sto opp         ${1}
La meg          ${2}
Notat           ${3}
endsnippet

