snippet journal "Journal entries" w
journal:`!v strftime("%Y-%m-%d")`
endsnippet

snippet publ-art "Artikkel" b
### Art${1}

kode   :: ${2}
tittel :: "${3}"
doi    :: ${4}
pdf    :: file:~/documents/literature/papers/${5}
lenker :: [Arbeids-wiki]()
	[Google Scholar]()
	[ResearchGate]()
	[arXiv]()
	[ScienceDirect]()

endsnippet
