snippet new "New entry" b
`date +%Y-%m-%d`
  Sto opp        ${1:07:30}
  La meg         xx:xx
  Vekt           xx.x kg
  Vekt (Helene)  xx.x kg
  Vekt (Are)     xx.x kg
  Lengde (Are)   xx.x cm
  Trening        
  Snopefri
  Notat          $2

endsnippet

snippet add "Add entry stuff" b
Sto opp        $1
La meg         $2
Trening        $3
Notat          $4
endsnippet
