snippet prog
program ${1:name}
	$0
end program $1
endsnippet

snippet mod
module ${1:name}
	$0
end module $1
endsnippet

snippet sub
subroutine ${1:name}($2)
	!
	! KYL, `strftime("%Y-%m-%d")`
	!
	implicit none
	$0
end subroutine $1
endsnippet

snippet func
function ${1:name}($2)
	!
	! KYL, `strftime("%Y-%m-%d")`
	!
	implicit none
	$0
end function $1
endsnippet

snippet if
if (${1:conditional}) then
	2
${3:else
	$4}
endif
$0
endsnippet

snippet do
do $1=$2,$3
	$0
enddo
endsnippet
