#
# Personal tex snippets
#

snippet r "\\ref{}" !w
\\$1ref{$2} $0
endsnippet

snippet e "\\emph{}" !w
\\emph{${1:${VISUAL}}}$0
endsnippet

snippet "b(egin)?" "begin{} / end{}" !br
\begin{$1}${2:{$3}}
	${4:${VISUAL}}
\end{$1}$0
endsnippet

snippet tikz "TikZ picture" b
TODO
endsnippet
